@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e3e8e4;
    --primary-color: #363636;
    --main-font: "Playfair Display", serif;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    padding: 10px;
}

ul {
    display: flex;
    align-items: center;
}
ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #000;
    margin-left: 4rem;
}

li a:hover {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

.btn-fill {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: none;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}

.menu-img {
    display: none;
    height: 35px;
    width: 35px;
    margin-left: 2rem;
}

/* header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.main-heading {
    font-size: 4rem;
    font-family: var(--main-font);
    color: #0000004f;
    margin-bottom: 2rem;
}

.main-heading span {
    color: #000;
}

.primary-heading {
    max-width: 500px;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 2rem;
}

.img-container {
    width: 500px;
    height: 500px;
    background-color: var(--main-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* popularity section */

.popularity {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.popularity div {
    margin-right: 5rem;
}

.popularity div h1 {
    font-size: 3rem;
    text-align: center;
    font-family: var(--main-font);
    color: var(--primary-color);
}

.popularity div p {
    font-family: sans-serif;
    color: var(--primary-color);
}

/* Products section */

.products-heading {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.product-img-layer {
    background-color: var(--main-color);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.product-img-layer .img {
    height: 250px;
    width: 230px;
}

.product-img-layer .img-one {
    background: url(images/daniil-silantev-1P6AnKDw6S8-unsplash-removebg-preview.png);
    background-size: cover;
    background-position: center;
}

.product-img-layer .img-two {
    background: url(images/bruno-emmanuelle--MUoHL1XULM-unsplash-removebg-preview.png);
    background-size: cover;
    background-position: center;
}

.product-img-layer .img-three {
    background: url(images/scott-webb-eD853mTbBA0-unsplash-removebg-preview.png);
    background-size: cover;
    background-position: center;
}

.product-content {
    background-color: var(--primary-color);
    width: 230px;
    text-align: center;
    color: #fff;
    padding-inline: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.product-name {
    font-family: sans-serif;
    margin-bottom: 10px;
}

.b-container {
    text-align: center;
}

.b-container button {
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin: 20px 20px;
}

/* Why us? section */

.why-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 7rem;
}

.img-layer {
    width: 400px;
    height: 400px;
    background-color: var(--main-color);
    border-radius: 100%;
}

.img-layer .img {
    height: 400px;
    width: 400px;
    background: url(images/pexels-ron-lach-8346055-removebg-preview.png);
    background-size: cover;
    background-position: center;
}

.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 2fr;
}

.card {
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
}

.card-fill {
    background-color: #e3e8e490;
    position: relative;
}

.card-fill .star {
    position: absolute;
    width: 10px;
    height: 10px;
    padding: 15px;
    border-radius: 100%;
    top: -15;
    left: -10;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card h1 {
    font-family: sans-serif;
    font-size: 17px;
}

.card p {
    font-family: sans-serif;
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

/* features section */

.features {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* footer */

footer {
    margin-top: 10rem;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}
.logo-container h1 {
    font-size: 4rem;
    font-family: var(--main-font);
    margin-bottom: 20px;
}

.logo-container p {
    max-width: 400px;
    font-family: sans-serif;
    line-height: 25px;
}

.about-company {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    margin-right: 40px;
    margin-top: 20px;
    text-align: center;
}

.container h1 {
    margin-bottom: 50px;
}

.container p {
    margin-bottom: 20px;
    font-family: sans-serif;
}

/* Responsiveness */

@media only screen and (max-width: 1150px){
    /* .img-container {
        width: 340px;
        height: 340px;
    } */
    
    .d-none {
        display: none;
    }
}

@media only screen and (min-width: 900px){
    ul {
        display: flex !important;
    } 
}

@media only screen and (max-width: 900px){
    .menu-img{
        display: block;
    }

    ul {
        flex-direction: column;
        position: absolute;
        top: 4%;
        left: 50%;
        font-weight: bold;
    }

    li {
        margin-top: 20px;
    }

    li a {
        margin-left: 0;
    }

    nav {
        justify-content: space-between;
        margin-inline: 3rem;
    }

    .register-btn-nav {
        display: none;
    }
    
    header {
        text-align: center;
        justify-content: center;
    }

    header .content-container {
        margin-bottom: 6rem;
        margin-top: 4rem;
        margin-left: 0px;
    }

    .popularity {
        margin-top: 5rem;
        justify-content: center;
        text-align: end;
    }

    .product {
        margin-inline: 1rem;
    }

    footer {
    height: 100vh;
    }
}

@media only screen and (max-width: 600px){
    .main-heading {
        font-size: 3.5rem;
        text-align: center;
    }
    
    nav {
        justify-content: space-between;
    }

    .primary-heading {
        width: 350px;
        text-align: center;
        margin-inline: auto;
    }
    .img-container {
        width: 350px;
        height: 350px;
    }

    .popularity{
        flex-direction: column;
    }

    .popularity div {
        margin-top:20px;
        margin-right: 0;
    }

    .img-layer {
        width: 350px;
        height: 350px;
    }

    .img-layer .img {
        width: 350px;
        height: 350px;
    }

    .cards {
        display: block;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 250px;
        height: 150px;
        padding: 20px;
        margin-top: 40px;
        border-radius: 5px;
    }

    .logo-container {
        text-align: center;
    }
}







